<!DOCTYPE html>

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quasar | Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="padding: 2; background-color: #414141; ">
    <div style="padding: 3em; color: white; background-color: #414141;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam, ex rem fugit fuga qui repudiandae ratione exercitationem adipisci ipsam laborum harum quos delectus odio veniam doloremque. Adipisci aperiam accusamus, molestiae dicta hic ipsum numquam vero tempore soluta, aliquam deleniti sapiente quaerat voluptatum reiciendis expedita obcaecati voluptates iusto facere, tenetur non! Aliquid vel, quaerat ex consequatur tenetur earum? Quibusdam fuga, pariatur harum placeat quae aliquid laborum aliquam quo, qui iure, quisquam deserunt. Qui maxime mollitia, dignissimos voluptas itaque aspernatur, temporibus voluptates voluptatem, aut amet ab blanditiis ex dolorum cumque! Magnam numquam autem dolor sed similique excepturi ad consectetur tempore commodi?
    </div>
</body>

</html>